# import

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#df = pd.read_csv('', sep = ',')
#df = pd.read_csv('data/donnees-electricite-2008a2017/donnees_elec_2017.csv', sep = ';', encoding='latin-1')
#print(len(df))
#df.iloc[52272,:]

#for nb in range(0,2,1):
    #value = df.iloc[nb,:]
    #print(value[4])

# READING & CLEANING donnees_elec_adresse

In [3]:
# electricity data 2018/2019
addresse_2018 = './data/elec/donnees_elec_adresse_2018.csv'
addresse_2019 = './data/elec/donnees_elec_adresse_2019.csv'

In [4]:
#reading CSV
addresse_2018 = pd.read_csv(addresse_2018, sep=';')
addresse_2018.head(2)
addresse_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [5]:
#reading CSV
addresse_2019 = pd.read_csv(addresse_2019, sep=';')
addresse_2019.head(2)
addresse_2019. columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'NOM_COMMUNE', 'ADRESSE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [6]:
#setting columns in order 

addresse_2019  = addresse_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS','ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL']]
#Double check 
addresse_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [15]:
#concatenate with pd
elec_adresse = [addresse_2018, addresse_2019]
result_elec = pd.concat(elec_adresse).drop_duplicates()
result_elec

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,ADRESSE,NOM_COMMUNE,CODE_GRAND_SECTEUR,CONSO,PDL
0,Enedis,2018,E,010040101,659 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"852,40377",1
1,Enedis,2018,E,010040101,645 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"61,78001",1
2,Enedis,2018,E,010040101,268 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,I,"63,2543",1
3,Enedis,2018,E,010040101,72 AVENUE DE LA LIBERATION,AMBÉRIEU-EN-BUGEY,I,"929,53233",1
4,Enedis,2018,E,010040101,82 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,R,"40,67797",22
...,...,...,...,...,...,...,...,...,...
573804,Enedis,2019,E,956800114,3 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"9,594914e+01",41
573805,Enedis,2019,E,956800114,4 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"3,735195e+01",18
573806,Enedis,2019,E,956800114,2 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"5,829190e+01",43
573807,Enedis,2019,E,956820000,15 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,R,"1,031971e+02",11
573808,Enedis,2019,E,956820000,8 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,T,"2,233182e+01",1

In [8]:
result_elec2 = result_elec[['NOM_COMMUNE','CODE_IRIS']].drop_duplicates()
result_elec2

                    NOM_COMMUNE  CODE_IRIS
0             AMBÉRIEU-EN-BUGEY  010040101
28            AMBÉRIEU-EN-BUGEY  010040102
67            AMBÉRIEU-EN-BUGEY  010040201
109           AMBÉRIEU-EN-BUGEY  010040202
123                    AMBRONAY  010070000
...                         ...        ...
568198          JOUY-LE-MOUTIER  95323XXXX
568749  MONTIGNY-LÈS-CORMEILLES  95424XXXX
569835                 PONTOISE  955000501
571649                  SANNOIS  95582XXXX
573365                  VAURÉAL  95637XXXX

[26427 rows x 2 columns]

In [9]:
result_elec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132768 entries, 0 to 573808
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   OPERATEUR           1132768 non-null  object
 1   ANNEE               1132768 non-null  int64
 2   FILIERE             1132768 non-null  object
 3   CODE_IRIS           1132768 non-null  object
 4   ADRESSE             1132524 non-null  object
 5   NOM_COMMUNE         1132767 non-null  object
 6   CODE_GRAND_SECTEUR  1132768 non-null  object
 7   CONSO               1132768 non-null  object
 8   PDL                 1132768 non-null  int64
dtypes: int64(2), object(7)
memory usage: 86.4+ MB

# #cleaning

# READING & CLEANING donnees_elec_epci

In [10]:
#data
epci_2018 = './data/elec/donnees_elec_epci_2018.csv'
epci_2019 = './data/elec/donnees_elec_epci_2019.csv'

In [11]:
#reading CSV
#epci_2018 = pd.read_csv(epci_2018, sep=';')
#epci_2018.head(2)
#epci_2018.columns

In [12]:
#reading CSV
#epci_2019 = pd.read_csv(epci_2019, sep=';')
#epci_2019.head(2)
#epci_2019.columns

In [13]:
#setting columns in order 

#epci_2019  = epci_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART'
       ]]
#Double check
#epci_2019.columns

IndentationError: unexpected indent (<ipython-input-13-4057af4c0c09>, line 4)

In [ ]:
#concatenate with pd
#elec_epci = [epci_2018, epci_2019]
#result2 = pd.concat(elec_epci)
#result2.head()

In [ ]:
#result2.info()

# #cleaning

# READING & CLEANING donnees_elec_iris

In [ ]:
#data
iris_2018 = './data/elec/donnees_elec_iris_2018.csv'
iris_2019 = './data/elec/donnees_elec_iris_2019.csv'

In [ ]:
#reading CSV
#iris_2018 = pd.read_csv(iris_2018, sep=';')
#iris_2018.head(2)
#iris_2018.columns

In [ ]:
#reading CSV
#iris_2019 = pd.read_csv(iris_2019, sep=';')
#iris_2019.head(2)
#iris_2019.columns

In [ ]:
#setting columns in order

In [ ]:
#concatenate with pd
#elec_iris = [iris_2018,iris_2019 ]
#result3 = pd.concat(elec_iris)
#result3.head()

In [ ]:
#result3.info()

# #cleaning

# READING & CLEANING donnees_elec_region

In [ ]:
#data
region_2018 = './data/elec/donnees_elec_region_2018.csv'
region_2019 = './data/elec/donnees_elec_region_2019.csv'

In [ ]:
#reading CSV
#region_2018 = pd.read_csv(region_2018, sep=';')
#region_2018.head(2)
#region_2018.columns

In [ ]:
#reading CSV
#region_2019 = pd.read_csv(region_2019, sep=';')
#region_2019.head(2)
#region_2019.columns

In [ ]:
#setting columns in order 

#region_2019  = region_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART']]
#Double check
#region_2019.columns

In [ ]:
#concatenate with pd
#elec_region = [region_2018,region_2019 ]
#result4 = pd.concat(elec_region)
#result4.head()

In [ ]:
#result4.info()

# #cleaning

In [ ]:
import pandas as pd
from sqlalchemy import create_engine


elec_2008 = './data/2017/donnees_elec_2008.csv'
elec_2009 = './data/2017/donnees_elec_2009.csv'
elec_2010 = './data/2017/donnees_elec_2010.csv'
elec_2011 = './data/2017/donnees_elec_2011.csv'
elec_2012 = './data/2017/donnees_elec_2012.csv'
elec_2013 = './data/2017/donnees_elec_2013.csv'
elec_2014 = './data/2017/donnees_elec_2014.csv'
elec_2015 = './data/2017/donnees_elec_2015.csv'
elec_2016 = './data/2017/donnees_elec_2016.csv'
elec_2017 = './data/2017/donnees_elec_2017.csv'

In [ ]:
#reading CSV
#elec_2008 = pd.read_csv(elec_2008, sep=';',encoding='latin-1')
#elec_2008.head(2)
#elec_2008.columns

In [ ]:
#reading CSV
#elec_2009 = pd.read_csv(elec_2009, sep=';',encoding='latin-1')
#elec_2009.head(2)
#elec_2009.columns

In [ ]:
#reading CSV
#elec_2010 = pd.read_csv(elec_2010, sep=';',encoding='latin-1')
#elec_2010.head(2)
#elec_2010.columns

In [ ]:
#reading CSV
#elec_2011 = pd.read_csv(elec_2011, sep=';',encoding='latin-1')
#elec_2011.head(2)
#elec_2011.columns

In [ ]:
#reading CSV
#elec_2012 = pd.read_csv(elec_2012, sep=';',encoding='latin-1')
#elec_2012.head(2)
#elec_2012.columns

In [ ]:
#reading CSV
#elec_2013 = pd.read_csv(elec_2013, sep=';',encoding='latin-1')
#elec_2013.head(2)
#elec_2013.columns

In [ ]:
#reading CSV
#elec_2014 = pd.read_csv(elec_2014, sep=';',encoding='latin-1')
#elec_2014.head(2)
#elec_2014.columns

In [ ]:
#reading CSV
#elec_2015 = pd.read_csv(elec_2015, sep=';',encoding='latin-1')
#elec_2015.head(2)
#elec_2015.columns

In [ ]:
#reading CSV
#elec_2016 = pd.read_csv(elec_2016, sep=';',encoding='latin-1')
#elec_2016.head(2)
#elec_2016.columns

In [ ]:
#reading CSV
#elec_2017 = pd.read_csv(elec_2017, sep=';',encoding='latin-1')
#elec_2017.head(2)
#elec_2017.columns

In [ ]:
#elec_prior_2017= [elec_2008,elec_2009,elec_2010,elec_2011,elec_2012,elec_2013,elec_2014,elec_2015,elec_2016,elec_2017]
#result5 = pd.concat(elec_prior_2017)
#result5.head()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# gas data 2018/2019
gas_2018 = './data/gaz/donnees_gaz_adresse_2018.csv'
gas_2019 = './data/gaz/donnees_gaz_adresse_2018.csv'

In [ ]:
#reading CSV
gas_2018 = pd.read_csv(gas_2018, sep=';')
gas_2018.head(2)
gas_2018.columns

In [ ]:
#reading CSV
gas_2019 = pd.read_csv(gas_2019, sep=';')
gas_2019.head(2)
gas_2019.columns

In [ ]:
#concatenate with pd
gas_adresse = [gas_2018, gas_2019]
result_gas = pd.concat(gas_adresse)
result_gas.head()

In [ ]:
result_gas.info()

In [ ]:
result_elec.info()

In [ ]:
gas_elec = [result_gas, result_elec]
gas_elec = pd.concat(gas_elec)
gas_elec.head()

In [ ]:
gas_elec.shape

In [40]:
import psycopg2
from psycopg2 import OperationalError as e
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [41]:
def connection_db(db, user, password, host, port):
    try:
        connection = psycopg2.connect(
        database = db,
        user = user,
        host = host,
        password = password,
        port = port)
        print(f'successfully connected to {db}')
    except e: 
        print(f'could not connect to the database {db} provided')
    return connection #sinon ça ne fonctionne pas

In [42]:
#conn = connection_db('final_project','sandrinevuachet','postgres','localhost',5432)
#cursor = conn.cursor()
#conn.autocommit = True

In [44]:
def connection():
    db = 'postgres+psycopg2://sandrinevuachet:postgres@localhost:5432/final_project'
    engine = create_engine(db,client_encoding='utf8')
    print(f'successfully connected to {db}')
    return engine
engine = connection()

successfully connected to postgres+psycopg2://sandrinevuachet:postgres@localhost:5432/final_project

In [45]:
with engine.connect() as connection:
    result = connection.execute("select * from operators")
    for row in result:
        print(row)
        #print("username:", row['username'])

(1, 'Enedis')
(2, 'RTE')
(3, 'GRDF')
(4, 'GRT_GAZ')
(5, 'Teréga')

In [46]:
sql_table = pd.read_sql_table('all_data',engine)
sql_table

,id,operators,year,energy,code_iris,address,city,code,consu,pdl
0,1,Enedis,2018,E,010040101,659 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"852,40377",1
1,2,Enedis,2018,E,010040101,645 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"61,78001",1
2,3,Enedis,2018,E,010040101,268 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,I,"63,2543",1
3,4,Enedis,2018,E,010040101,72 AVENUE DE LA LIBERATION,AMBÉRIEU-EN-BUGEY,I,"929,53233",1
4,5,Enedis,2018,E,010040101,82 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,R,"40,67797",22
...,...,...,...,...,...,...,...,...,...,...
45295,45296,GRDF,2018,G,130010401,14 CHEMIN DU BELVEDERE,AIX-EN-PROVENCE,T,"3,409470e+02",1
45296,45297,GRDF,2018,G,130010401,67 COURS GAMBETTA,AIX-EN-PROVENCE,R,"1,320361e+03",182
45297,45298,GRDF,2018,G,130010401,4 AVE DEPORTES,AIX-EN-PROVENCE,T,"3,966213e+02",1
45298,45299,GRDF,2018,G,130010401,297 AVENUE RENE CASSIN,AIX-EN-PROVENCE,T,"4,012382e+02",1
45299,45300,GRDF,2018,G,130010401,402 TRAVERSE SAINT PIERRE,AIX-EN-PROVENCE,T,"2,117336e+02",1

In [ ]:
#with engine.connect() as connection:
    #result = connection.execute("""CREATE TABLE IF NOT EXISTS "associations"(
      #"id" SERIAL PRIMARY KEY,
      #"RNA" varchar,
      #"name" varchar,
      #"sigle" varchar,
      #"description" varchar,
      #"validation" varchar,
      #"validation_date" date,
      #"headquarter" varchar,
      #"liste_activites" varchar,
      #"contact_address" varchar,
      #"zip_code" integer,
     #"city" varchar,
      #"website" varchar,
      #"establishment" integer
   # );""")