# import

In [130]:
import pandas as pd
from sqlalchemy import create_engine

In [131]:
#df = pd.read_csv('', sep = ',')
#df = pd.read_csv('data/donnees-electricite-2008a2017/donnees_elec_2017.csv', sep = ';', encoding='latin-1')
#print(len(df))
#df.iloc[52272,:]

#for nb in range(0,2,1):
    #value = df.iloc[nb,:]
    #print(value[4])

# READING CSV #donnees_elec_adresse & SETTING COLUMNS & CONCENAT

In [160]:
addresse_2018 = './data/donnees_elec_adresse_2018.csv'
addresse_2019 = './data/donnees_elec_adresse_2019.csv'

In [133]:
addresse_2018 = pd.read_csv(addresse_2018, sep=';')
addresse_2018.head(2)
addresse_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [134]:
addresse_2019 = pd.read_csv(addresse_2019, sep=';')
addresse_2019.head(2)
addresse_2019. columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'NOM_COMMUNE', 'ADRESSE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [135]:
#setting columns in order 

addresse_2019  = addresse_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS','ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL']]

addresse_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [152]:
elec_adresse = [addresse_2018, addresse_2019]
result1 = pd.concat(elec_adresse)
result1.tail()

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,ADRESSE,NOM_COMMUNE,CODE_GRAND_SECTEUR,CONSO,PDL
573804,Enedis,2019,E,956800114,3 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"9,594914e+01",41
573805,Enedis,2019,E,956800114,4 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"3,735195e+01",18
573806,Enedis,2019,E,956800114,2 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"5,829190e+01",43
573807,Enedis,2019,E,956820000,15 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,R,"1,031971e+02",11
573808,Enedis,2019,E,956820000,8 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,T,"2,233182e+01",1

In [153]:
result1.shape

(1132768, 9)

# #cleaning

# READING CSV #donnees_elec_epci & SETTING COLUMNS & CONCENAT

In [161]:
epci_2018 = './data/donnees_elec_epci_2018.csv'
epci_2019 = './data/donnees_elec_epci_2019.csv'

In [137]:
epci_2018 = pd.read_csv(epci_2018, sep=';')
epci_2018.head(2)
epci_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [138]:
epci_2019 = pd.read_csv(epci_2019, sep=';')
epci_2019.head(2)
epci_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART',
       'NB_IRIS_MASQUES'],
      dtype='object')

In [139]:
#setting columns in order 

epci_2019  = epci_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART'
       ]]

epci_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [154]:
elec_epci = [epci_2018, epci_2019]
result2 = pd.concat(elec_epci)
result2.head()

,OPERATEUR,ANNEE,FILIERE,CODE_EPCI,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,NB_IRIS_MASQUES,THERMOR,PART
0,Enedis,2018,E,200000172,PRO,NaN,A,"589,3950792135486",34,NaN,2,NaN,NaN
1,Enedis,2018,E,200000172,ENT,1.0,A,"52,78783333333333",1,"0,99999",0,NaN,NaN
2,Enedis,2018,E,200000172,ENT,2.0,A,",5513645063194319",1,"0,80164",0,NaN,NaN
3,Enedis,2018,E,200000172,PRO,NaN,I,"1127,261042851688",89,"0,34929",0,NaN,NaN
4,Enedis,2018,E,200000172,ENT,8.0,I,"25,921666666666666",1,"0,99999",0,NaN,NaN

In [155]:
result2.shape

(103830, 13)

# #cleaning

# READING CSV #donnees_elec_iris & SETTING COLUMNS & CONCENAT

In [162]:
iris_2018 = './data/donnees_elec_iris_2018.csv'
iris_2019 = './data/donnees_elec_iris_2019.csv'

In [141]:
iris_2018 = pd.read_csv(iris_2018, sep=';')
iris_2018.head(2)
iris_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART'],
      dtype='object')

In [142]:
iris_2019 = pd.read_csv(iris_2019, sep=';')
iris_2019.head(2)
iris_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART'],
      dtype='object')

In [143]:
#setting columns in order

In [156]:
elec_iris = [iris_2018,iris_2019 ]
result3 = pd.concat(elec_iris)
result3.head()

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,THERMOR,PART
0,Enedis,2018,E,010010000,PRO,NaN,A,"271,25121416552786",9,"0,45104",NaN,NaN
1,Enedis,2018,E,010010000,PRO,NaN,I,s,s,NaN,NaN,NaN
2,Enedis,2018,E,010010000,ENT,10.0,I,"46,63828065665188",1,"0,91765",NaN,NaN
3,Enedis,2018,E,010010000,RES,NaN,R,"2474,6881391654245",346,"0,4933",NaN,NaN
4,Enedis,2018,E,010010000,PRO,NaN,T,"186,81175014015294",17,"0,54212",NaN,NaN

In [157]:
result3.shape

(932646, 12)

# #cleaning

# READING CSV #donnees_elec_region & SETTING COLUMNS & CONCENAT

In [163]:

region_2018 = './data/donnees_elec_region_2018.csv'
region_2019 = './data/donnees_elec_region_2019.csv'

In [145]:
region_2018 = pd.read_csv(region_2018, sep=';')
region_2018.head(2)
region_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [146]:
region_2019 = pd.read_csv(region_2019, sep=';')
region_2019.head(2)
region_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART',
       'NB_IRIS_MASQUES'],
      dtype='object')

In [149]:
#setting columns in order 

region_2019  = region_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART']]

region_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [158]:
elec_region = [region_2018,region_2019 ]
result4 = pd.concat(elec_region)
result4.head()

,OPERATEUR,ANNEE,FILIERE,CODE_REGION,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,NB_IRIS_MASQUES,THERMOR,PART
0,EdF-SEI,2018,E,01,ENT_PRO,NaN,A,"7441,048",524,NaN,78,NaN,NaN
1,EdF-SEI,2018,E,01,ENT_PRO,NaN,I,"114629,916",2749,NaN,0,NaN,NaN
2,EdF-SEI,2018,E,01,RES,NaN,R,"688474,26",197048,NaN,0,NaN,NaN
3,EdF-SEI,2018,E,01,ENT_PRO,NaN,T,"579488,071",19846,NaN,0,NaN,NaN
4,EdF-SEI,2018,E,01,ENT_PRO,NaN,X,"75139,044",5919,NaN,0,NaN,NaN

In [159]:
result4.shape

(3747, 13)

# #cleaning