In [40]:
import pandas as pd
#import psycopg2 
from sqlalchemy import create_engine

# import csv

In [41]:
file = pd.read_csv('bor_associations.csv', sep=';')
file.head(2)

,RNA,nom,sigle,description,etat,dateDeValidationStatuts,siege,liste_activites,contact_adresse,contact_cp,contact_ville,site_web,anneeCreation
0,W332014787,Arts Martiaux Shaolin Bordeaux,NaN,Association sportive pour développer la pratiq...,Validée,1998-12-16,Bordeaux,Taï Chi Chuan;Self défense,4 rue Cazenave,33100,Bordeaux,http://www.shaolin-bordeaux.fr,1998.0
1,w751071568,Union nationale de familles et amis de personn...,UNAFAM 33,"Association reconnue d’utilité publique, qui a...",Validée,2009-03-19,Paris,Aide aux familles des malades,40 rue du Sablonat,33800,Bordeaux,http://www.unafam.org/,1963.0

# getting infos

In [3]:
file.describe()

         contact_cp  anneeCreation
count    911.000000     884.000000
mean   33532.881449    2001.764706
std     4306.864045      22.427209
min    17100.000000    1901.000000
25%    33000.000000    1996.000000
50%    33150.000000    2011.000000
75%    33310.000000    2016.000000
max    93300.000000    2020.000000

In [4]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RNA                      911 non-null    object
 1   nom                      911 non-null    object
 2   sigle                    403 non-null    object
 3   description              911 non-null    object
 4   etat                     911 non-null    object
 5   dateDeValidationStatuts  911 non-null    object
 6   siege                    911 non-null    object
 7   liste_activites          909 non-null    object
 8   contact_adresse          910 non-null    object
 9   contact_cp               911 non-null    int64
 10  contact_ville            911 non-null    object
 11  site_web                 564 non-null    object
 12  anneeCreation            884 non-null    float64
dtypes: float64(1), int64(1), object(11)
memory usage: 92.6+ KB

In [5]:
file.shape

(911, 13)

In [6]:
file.columns

Index(['RNA', 'nom', 'sigle', 'description', 'etat', 'dateDeValidationStatuts',
       'siege', 'liste_activites', 'contact_adresse', 'contact_cp',
       'contact_ville', 'site_web', 'anneeCreation'],
      dtype='object')

# cleaning and fixing data

In [48]:
file = file.rename(columns={"nom": "name", "etat": "validation", 
                              "dateDeValidationStatuts": "validation_date",
                             "siege":"headquarter","contact_adresse":"contact_address",
                             "contact_cp":"zip_code",
                             "contact_ville":"city",
                             "site_web":"website",
                             "anneeCreation":"establishment"}, errors="raise")

In [49]:
file.columns

Index(['RNA', 'name', 'sigle', 'description', 'validation', 'validation_date',
       'headquarter', 'liste_activites', 'contact_address', 'zip_code', 'city',
       'website', 'establishment'],
      dtype='object')

In [50]:
#df.astype({'col1': 'int32'}).dtypes

In [47]:
from datetime import datetime as dt

#file['validation'] = file['validation'] == 'True'
file['validation_date'] = pd.to_datetime(file['validation_date'], format='%Y-%m-%d')
file = file.fillna(0)
file['establishment'] = file['establishment'].astype(int, errors='raise')

KeyError: 'validation_date'

In [44]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RNA                      911 non-null    object
 1   nom                      911 non-null    object
 2   sigle                    403 non-null    object
 3   description              911 non-null    object
 4   etat                     911 non-null    object
 5   dateDeValidationStatuts  911 non-null    object
 6   siege                    911 non-null    object
 7   liste_activites          909 non-null    object
 8   contact_adresse          910 non-null    object
 9   contact_cp               911 non-null    int64
 10  contact_ville            911 non-null    object
 11  site_web                 564 non-null    object
 12  anneeCreation            884 non-null    float64
dtypes: float64(1), int64(1), object(11)
memory usage: 92.6+ KB

In [12]:
file.columns

Index(['RNA', 'name', 'sigle', 'description', 'validation', 'validation_date',
       'headquarter', 'liste_activites', 'contact_address', 'zip_code', 'city',
       'website', 'establishment'],
      dtype='object')

In [13]:
file.head(3)

,RNA,name,sigle,description,validation,validation_date,headquarter,liste_activites,contact_address,zip_code,city,website,establishment
0,W332014787,Arts Martiaux Shaolin Bordeaux,0,Association sportive pour développer la pratiq...,False,1998-12-16,Bordeaux,Taï Chi Chuan;Self défense,4 rue Cazenave,33100,Bordeaux,http://www.shaolin-bordeaux.fr,1998
1,w751071568,Union nationale de familles et amis de personn...,UNAFAM 33,"Association reconnue d’utilité publique, qui a...",False,2009-03-19,Paris,Aide aux familles des malades,40 rue du Sablonat,33800,Bordeaux,http://www.unafam.org/,1963
2,W332016571,Music's Cool,0,Music's Cool propose l'enseignement de la musi...,False,2015-02-02,Bordeaux,Musiques actuelles,1 Rue Fernand Cazères,33200,Bordeaux,0,2014

In [14]:
file = file.drop_duplicates()

In [15]:
file.head(5)

,RNA,name,sigle,description,validation,validation_date,headquarter,liste_activites,contact_address,zip_code,city,website,establishment
0,W332014787,Arts Martiaux Shaolin Bordeaux,0,Association sportive pour développer la pratiq...,False,1998-12-16,Bordeaux,Taï Chi Chuan;Self défense,4 rue Cazenave,33100,Bordeaux,http://www.shaolin-bordeaux.fr,1998
1,w751071568,Union nationale de familles et amis de personn...,UNAFAM 33,"Association reconnue d’utilité publique, qui a...",False,2009-03-19,Paris,Aide aux familles des malades,40 rue du Sablonat,33800,Bordeaux,http://www.unafam.org/,1963
2,W332016571,Music's Cool,0,Music's Cool propose l'enseignement de la musi...,False,2015-02-02,Bordeaux,Musiques actuelles,1 Rue Fernand Cazères,33200,Bordeaux,0,2014
3,w332007690,Club Athlétique Municipal de Bordeaux,CAM Bordeaux,L'association a pour objet principal l’organis...,False,2010-02-11,Bordeaux,Cyclisme;Boxes;Escrime;Gymnastique artistique;...,7 rue André Maginot,33200,Bordeaux,http://www.cam-bordeaux.com/,1930
4,W332012602,Ukulélé Club de Bordeaux,0,Le Ukulélé Club de Bordeaux soutient et organi...,False,2011-07-21,Bordeaux,Musiques actuelles,16 avenue Léon Duguit,33608,Pessac Cedex,http://www.ukulelebordeaux.com,2011

In [16]:
#file['desc'] = file['description'].apply(lambda x : " ".join(x.split(' ')[:2]))
#file['desc'].head(5)

# connecting to local db

In [24]:
def connection():
    db ="postgresql://sandrinevuachet:postgres@localhost:5432/project"
    engine = create_engine(db, client_encoding='utf8')
    return engine

engine = connection()

# creating the main table

In [25]:
with engine.connect() as connection:
    result = connection.execute("""CREATE TABLE IF NOT EXISTS "associations"(
      "id" SERIAL PRIMARY KEY,
      "RNA" varchar,
      "name" varchar,
      "sigle" varchar,
      "description" varchar,
      "validation" boolean,
      "validation_date" date,
      "headquarter" varchar,
      "liste_activites" varchar,
      "contact_address" varchar,
      "zip_code" integer,
      "city" varchar,
      "website" varchar,
      "establishment" integer
    );""")

In [26]:
def drop_duplicate(data,table,engine):
    data.read_sql(table, engine)
    for x in data:
        print(x)
        
#drop_duplicates(data,table,engine)

In [27]:
def insert_into_table(data, table,engine):
    data.to_sql(table, engine, if_exists='replace',index = False)
    
    
    
insert_into_table(file,'associations',engine)

In [28]:
read = pd.read_sql('associations',engine)
read.head(2)
print(len(read))

911

In [37]:

valid_association = file[['RNA','liste_activites','validation']]

valid_association

            RNA                                    liste_activites  validation
0    W332014787                         Taï Chi Chuan;Self défense       False
1    w751071568                      Aide aux familles des malades       False
2    W332016571                                 Musiques actuelles       False
3    w332007690  Cyclisme;Boxes;Escrime;Gymnastique artistique;...       False
4    W332012602                                 Musiques actuelles       False
..          ...                                                ...         ...
906  W922012428                        Autres activités éducatives       False
907  W332005419                            Associations étudiantes       False
908  W332008594                       Jardinage et culture urbaine       False
909  W332021354                                    Arts plastiques       False
910  W332029562                                 Aide à la personne       False

[911 rows x 3 columns]

In [23]:
%pylab inline

import matplotlib.pyplot as plt
import numpy as np

# Summarize the given data
def describe_data(data):
    print('Mean:', np.mean(data))
    print('Standard deviation:', np.std(data))
    print('Minimum:', np.min(data))
    print('Maximum:', np.max(data))
    plt.hist(data)
    
describe_data(list(file.values()))

Populating the interactive namespace from numpy and matplotlib

TypeError: 'numpy.ndarray' object is not callable