In [1]:
#TUTO psycopg2

In [2]:
import psycopg2
from psycopg2 import OperationalError as e

In [3]:
#connecting local DB
def connection_db(db, user,password, host, port):
    try:
        connection = psycopg2.connect(
        database = db,
        user = user,
        password = password,
        host = host,
        port = port)
        print(f'successfully connected to {db}')
    except e: 
        print(f'could not connect to the database {db} provided')
    return connection

In [4]:
#calling function
conn = connection_db('psycopg2','sandrinevuachet','postgres','localhost',5432)
cursor = conn.cursor()

successfully connected to psycopg2

In [5]:
from psycopg2 import OperationalError as e
#Creating tables 
def create_tb():
    try:
        table1 = """CREATE TABLE IF NOT EXISTS casinos(
        id SERIAL PRIMARY KEY,
        name text UNIQUE
        );"""
        table2 = """CREATE TABLE IF NOT EXISTS croupiers(
        id SERIAL PRIMARY KEY,
        name text UNIQUE,
        casino_id integer, 
        FOREIGN KEY(casino_id) REFERENCES casinos(id)
        );"""
        cursor.execute(table1)
        cursor.execute(table2)
        conn.commit()
        print('well done !')
    except e : 
        print('Error, try again')

In [6]:
#calling function
create_tb()

well done !

In [7]:
#inserting data
from psycopg2 import OperationalError as e
def insertion(name):
    try:
        table1 = """INSERT INTO casinos (name) VALUES(%s);"""
        cursor.execute(table1,(name,))
        conn.commit()
        print('successful')
    except e : 
        print("error, try again !")

In [8]:
#calling function
insertion('Annecy')

successful

In [15]:
#inserting data
from psycopg2 import OperationalError as e
def insertion2(id, name):
    try:
        table1 = """INSERT INTO croupiers (id,name) VALUES(%s,%s);"""
        cursor.execute(table1,(id,name))
        print('successful')
    except psycopg2.Error as error:
        print(f"error, try again !{error.args}")
    finally:
        conn.commit()

In [16]:
#calling function
insertion2(1,'Muriel')

error, try again !('current transaction is aborted, commands ignored until end of transaction block\n',)

In [20]:
#reading data from local db
def read():
    #conn.autocommit = True pas besoin pour le read
    try:
        get = """SELECT * FROM casinos;"""
        cursor.execute(get)
    except e:
        print('try again!')
    return cursor.fetchall()
    #ou return cusor.fetchone() si un seul resultat demand√©

In [19]:
# calling function
read()

[(1, 'Annecy')]

In [21]:
#updating data
def update(column,value,index):
    try:
        query = """UPDATE casinos SET %s = %s WHERE id = %s"""
        cursor.execute(query % (column,),(value,index))
    except e:

IndentationError: expected an indented block (<ipython-input-21-b4f9473aa06a>, line 5)

In [22]:
#calling function
update()

NameError: name 'update' is not defined