# import

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#df = pd.read_csv('', sep = ',')
#df = pd.read_csv('data/donnees-electricite-2008a2017/donnees_elec_2017.csv', sep = ';', encoding='latin-1')
#print(len(df))
#df.iloc[52272,:]

#for nb in range(0,2,1):
    #value = df.iloc[nb,:]
    #print(value[4])

# READING & CLEANING donnees_elec_adresse

In [3]:
# electricity data 2018/2019
addresse_2018 = './data/elec/donnees_elec_adresse_2018.csv'
addresse_2019 = './data/elec/donnees_elec_adresse_2019.csv'

In [4]:
#reading CSV
addresse_2018 = pd.read_csv(addresse_2018, sep=';')
addresse_2018.head(2)
addresse_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [5]:
#reading CSV
addresse_2019 = pd.read_csv(addresse_2019, sep=';')
addresse_2019.head(2)
addresse_2019. columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'NOM_COMMUNE', 'ADRESSE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [6]:
#setting columns in order 

addresse_2019  = addresse_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS','ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL']]
#Double check 
addresse_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS', 'ADRESSE', 'NOM_COMMUNE',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL'],
      dtype='object')

In [7]:
#concatenate with pd
elec_adresse = [addresse_2018, addresse_2019]
result1 = pd.concat(elec_adresse)
result1.head()

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,ADRESSE,NOM_COMMUNE,CODE_GRAND_SECTEUR,CONSO,PDL
0,Enedis,2018,E,010040101,659 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"852,40377",1
1,Enedis,2018,E,010040101,645 AVENUE LEON BLUM,AMBÉRIEU-EN-BUGEY,I,"61,78001",1
2,Enedis,2018,E,010040101,268 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,I,"63,2543",1
3,Enedis,2018,E,010040101,72 AVENUE DE LA LIBERATION,AMBÉRIEU-EN-BUGEY,I,"929,53233",1
4,Enedis,2018,E,010040101,82 RUE DES MOUETTES,AMBÉRIEU-EN-BUGEY,R,"40,67797",22

In [8]:
result1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132768 entries, 0 to 573808
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   OPERATEUR           1132768 non-null  object
 1   ANNEE               1132768 non-null  int64
 2   FILIERE             1132768 non-null  object
 3   CODE_IRIS           1132768 non-null  object
 4   ADRESSE             1132524 non-null  object
 5   NOM_COMMUNE         1132767 non-null  object
 6   CODE_GRAND_SECTEUR  1132768 non-null  object
 7   CONSO               1132768 non-null  object
 8   PDL                 1132768 non-null  int64
dtypes: int64(2), object(7)
memory usage: 86.4+ MB

# #cleaning

# READING & CLEANING donnees_elec_epci

In [9]:
#data
epci_2018 = './data/elec/donnees_elec_epci_2018.csv'
epci_2019 = './data/elec/donnees_elec_epci_2019.csv'

In [10]:
#reading CSV
epci_2018 = pd.read_csv(epci_2018, sep=';')
epci_2018.head(2)
epci_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [11]:
#reading CSV
epci_2019 = pd.read_csv(epci_2019, sep=';')
epci_2019.head(2)
epci_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART',
       'NB_IRIS_MASQUES'],
      dtype='object')

In [12]:
#setting columns in order 

epci_2019  = epci_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART'
       ]]
#Double check
epci_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_EPCI',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [13]:
#concatenate with pd
elec_epci = [epci_2018, epci_2019]
result2 = pd.concat(elec_epci)
result2.head()

,OPERATEUR,ANNEE,FILIERE,CODE_EPCI,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,NB_IRIS_MASQUES,THERMOR,PART
0,Enedis,2018,E,200000172,PRO,NaN,A,"589,3950792135486",34,NaN,2,NaN,NaN
1,Enedis,2018,E,200000172,ENT,1.0,A,"52,78783333333333",1,"0,99999",0,NaN,NaN
2,Enedis,2018,E,200000172,ENT,2.0,A,",5513645063194319",1,"0,80164",0,NaN,NaN
3,Enedis,2018,E,200000172,PRO,NaN,I,"1127,261042851688",89,"0,34929",0,NaN,NaN
4,Enedis,2018,E,200000172,ENT,8.0,I,"25,921666666666666",1,"0,99999",0,NaN,NaN

In [14]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103830 entries, 0 to 52456
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   OPERATEUR                    103830 non-null  object
 1   ANNEE                        103830 non-null  int64
 2   FILIERE                      103830 non-null  object
 3   CODE_EPCI                    103830 non-null  object
 4   CODE_CATEGORIE_CONSOMMATION  103830 non-null  object
 5   CODE_SECTEUR_NAF2            88997 non-null   float64
 6   CODE_GRAND_SECTEUR           103830 non-null  object
 7   CONSO                        103830 non-null  object
 8   PDL                          103830 non-null  object
 9   INDQUAL                      99588 non-null   object
 10  NB_IRIS_MASQUES              103830 non-null  int64
 11  THERMOR                      1197 non-null    object
 12  PART                         1197 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 11.1+ MB

# #cleaning

# READING & CLEANING donnees_elec_iris

In [15]:
#data
iris_2018 = './data/elec/donnees_elec_iris_2018.csv'
iris_2019 = './data/elec/donnees_elec_iris_2019.csv'

In [16]:
#reading CSV
iris_2018 = pd.read_csv(iris_2018, sep=';')
iris_2018.head(2)
iris_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART'],
      dtype='object')

In [17]:
#reading CSV
iris_2019 = pd.read_csv(iris_2019, sep=';')
iris_2019.head(2)
iris_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_IRIS',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART'],
      dtype='object')

In [18]:
#setting columns in order

In [19]:
#concatenate with pd
elec_iris = [iris_2018,iris_2019 ]
result3 = pd.concat(elec_iris)
result3.head()

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,THERMOR,PART
0,Enedis,2018,E,010010000,PRO,NaN,A,"271,25121416552786",9,"0,45104",NaN,NaN
1,Enedis,2018,E,010010000,PRO,NaN,I,s,s,NaN,NaN,NaN
2,Enedis,2018,E,010010000,ENT,10.0,I,"46,63828065665188",1,"0,91765",NaN,NaN
3,Enedis,2018,E,010010000,RES,NaN,R,"2474,6881391654245",346,"0,4933",NaN,NaN
4,Enedis,2018,E,010010000,PRO,NaN,T,"186,81175014015294",17,"0,54212",NaN,NaN

In [20]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932646 entries, 0 to 469465
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   OPERATEUR                    932646 non-null  object
 1   ANNEE                        932646 non-null  int64
 2   FILIERE                      932646 non-null  object
 3   CODE_IRIS                    932646 non-null  object
 4   CODE_CATEGORIE_CONSOMMATION  932646 non-null  object
 5   CODE_SECTEUR_NAF2            495843 non-null  float64
 6   CODE_GRAND_SECTEUR           932646 non-null  object
 7   CONSO                        932646 non-null  object
 8   PDL                          932646 non-null  object
 9   INDQUAL                      789907 non-null  object
 10  THERMOR                      20911 non-null   object
 11  PART                         20911 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 92.5+ MB

# #cleaning

# READING & CLEANING donnees_elec_region

In [21]:
#data
region_2018 = './data/elec/donnees_elec_region_2018.csv'
region_2019 = './data/elec/donnees_elec_region_2019.csv'

In [22]:
#reading CSV
region_2018 = pd.read_csv(region_2018, sep=';')
region_2018.head(2)
region_2018.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [23]:
#reading CSV
region_2019 = pd.read_csv(region_2019, sep=';')
region_2019.head(2)
region_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'THERMOR', 'PART',
       'NB_IRIS_MASQUES'],
      dtype='object')

In [24]:
#setting columns in order 

region_2019  = region_2019[['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES','THERMOR', 'PART']]
#Double check
region_2019.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'CODE_REGION',
       'CODE_CATEGORIE_CONSOMMATION', 'CODE_SECTEUR_NAF2',
       'CODE_GRAND_SECTEUR', 'CONSO', 'PDL', 'INDQUAL', 'NB_IRIS_MASQUES',
       'THERMOR', 'PART'],
      dtype='object')

In [25]:
#concatenate with pd
elec_region = [region_2018,region_2019 ]
result4 = pd.concat(elec_region)
result4.head()

,OPERATEUR,ANNEE,FILIERE,CODE_REGION,CODE_CATEGORIE_CONSOMMATION,CODE_SECTEUR_NAF2,CODE_GRAND_SECTEUR,CONSO,PDL,INDQUAL,NB_IRIS_MASQUES,THERMOR,PART
0,EdF-SEI,2018,E,01,ENT_PRO,NaN,A,"7441,048",524,NaN,78,NaN,NaN
1,EdF-SEI,2018,E,01,ENT_PRO,NaN,I,"114629,916",2749,NaN,0,NaN,NaN
2,EdF-SEI,2018,E,01,RES,NaN,R,"688474,26",197048,NaN,0,NaN,NaN
3,EdF-SEI,2018,E,01,ENT_PRO,NaN,T,"579488,071",19846,NaN,0,NaN,NaN
4,EdF-SEI,2018,E,01,ENT_PRO,NaN,X,"75139,044",5919,NaN,0,NaN,NaN

In [26]:
result4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3747 entries, 0 to 2038
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   OPERATEUR                    3747 non-null   object
 1   ANNEE                        3747 non-null   int64
 2   FILIERE                      3747 non-null   object
 3   CODE_REGION                  3747 non-null   object
 4   CODE_CATEGORIE_CONSOMMATION  3747 non-null   object
 5   CODE_SECTEUR_NAF2            2760 non-null   float64
 6   CODE_GRAND_SECTEUR           3747 non-null   object
 7   CONSO                        3747 non-null   object
 8   PDL                          3747 non-null   object
 9   INDQUAL                      3095 non-null   object
 10  NB_IRIS_MASQUES              3747 non-null   int64
 11  THERMOR                      12 non-null     object
 12  PART                         12 non-null     object
dtypes: float64(1), int64(2), object(10)
memory usage: 409.8+ KB

# #cleaning

In [27]:
import pandas as pd
from sqlalchemy import create_engine


elec_2008 = './data/2017/donnees_elec_2008.csv'
elec_2009 = './data/2017/donnees_elec_2009.csv'
elec_2010 = './data/2017/donnees_elec_2010.csv'
elec_2011 = './data/2017/donnees_elec_2011.csv'
elec_2012 = './data/2017/donnees_elec_2012.csv'
elec_2013 = './data/2017/donnees_elec_2013.csv'
elec_2014 = './data/2017/donnees_elec_2014.csv'
elec_2015 = './data/2017/donnees_elec_2015.csv'
elec_2016 = './data/2017/donnees_elec_2016.csv'
elec_2017 = './data/2017/donnees_elec_2017.csv'

In [28]:
#reading CSV
elec_2008 = pd.read_csv(elec_2008, sep=';',encoding='latin-1')
elec_2008.head(2)
elec_2008.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [29]:
#reading CSV
elec_2009 = pd.read_csv(elec_2009, sep=';',encoding='latin-1')
elec_2009.head(2)
elec_2009.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [30]:
#reading CSV
elec_2010 = pd.read_csv(elec_2010, sep=';',encoding='latin-1')
elec_2010.head(2)
elec_2010.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [31]:
#reading CSV
elec_2011 = pd.read_csv(elec_2011, sep=';',encoding='latin-1')
elec_2011.head(2)
elec_2011.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [32]:
#reading CSV
elec_2012 = pd.read_csv(elec_2012, sep=';',encoding='latin-1')
elec_2012.head(2)
elec_2012.columns

/Users/sandrinevuachet/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [33]:
#reading CSV
elec_2013 = pd.read_csv(elec_2013, sep=';',encoding='latin-1')
elec_2013.head(2)
elec_2013.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [34]:
#reading CSV
elec_2014 = pd.read_csv(elec_2014, sep=';',encoding='latin-1')
elec_2014.head(2)
elec_2014.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [35]:
#reading CSV
elec_2015 = pd.read_csv(elec_2015, sep=';',encoding='latin-1')
elec_2015.head(2)
elec_2015.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [36]:
#reading CSV
elec_2016 = pd.read_csv(elec_2016, sep=';',encoding='latin-1')
elec_2016.head(2)
elec_2016.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'CONSONA', 'PDLNA', 'INDQUALNA'],
      dtype='object')

In [37]:
#reading CSV
elec_2017 = pd.read_csv(elec_2017, sep=';',encoding='latin-1')
elec_2017.head(2)
elec_2017.columns

Index(['OPERATEUR', 'ANNEE', 'FILIERE', 'TYPE', 'CODE', 'CONSOA', 'PDLA',
       'INDQUALA', 'CONSOI', 'PDLI', 'INDQUALI', 'CONSOT', 'PDLT', 'INDQUALT',
       'CONSOR', 'PDLR', 'INDQUALR', 'THERMOR', 'PARTR', 'CONSONA', 'PDLNA',
       'INDQUALNA'],
      dtype='object')

In [38]:
elec_prior_2017= [elec_2008,elec_2009,elec_2010,elec_2011,elec_2012,elec_2013,elec_2014,elec_2015,elec_2016,elec_2017]
result5 = pd.concat(elec_prior_2017)
result5.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,...,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA,THERMOR,PARTR
0,Régie délectricité de Roquebillière,2008,E,Commune,6103,"0,00",0,"0,000000","1270,00",7,...,97,"1,000000","5954,00",1154,"1,000000","963,00",53,"1,000000",NaN,NaN
1,Régie municipale délectricité dArignac,2008,E,Commune,9015,"0,00",0,"0,000000","164,00",1,...,30,"0,500000","1703,00",410,"0,500000","267,00",16,"0,500000",NaN,NaN
2,Régie municipale délectricité de Dalou,2008,E,Commune,9104,"0,00",0,"0,000000","0,00",0,...,8,"1,000000","1704,00",352,"1,000000","287,00",15,"1,000000",NaN,NaN
3,Régie municipale délectricité de lHospitalet...,2008,E,Commune,9139,"0,00",0,"0,000000","0,00",0,...,27,"1,000000","344,00",98,"1,000000","272,00",19,"1,000000",NaN,NaN
4,Régie municipale délectricité de Mazères,2008,E,Commune,9185,"374,00",95,"1,000000","8010,00",14,...,101,"1,000000","9000,00",1741,"1,000000","560,00",83,"1,000000",NaN,NaN

In [40]:
import pandas as pd
from sqlalchemy import create_engine

# gas data 2018/2019
gas_2018 = './data/gaz/donnees_gaz_adresse_2018.csv'
gas_2019 = './data/gaz/donnees_gaz_adresse_2018.csv'

In [ ]:
#reading CSV
gas_2018 = pd.read_csv(addresse_2018, sep=';')
addresse_2018.head(2)
addresse_2018.columns