In [7]:
import pandas as pd

In [17]:
#df = pd.read_csv('', sep = ',')
df = pd.read_csv('data/donnees_chaleur_froid_2018a2019/donnees_chaleur_et_froid_iris_2018.csv', sep = ';', encoding='latin-1')

print(df)
print(len(df))
print(type(df))
for i in df:
    print(i)

                               OPERATEUR  ANNEE FILIERE       CODE  \
0                     Oyonnax Biochaleur   2018       C  010310000
1                     Oyonnax Biochaleur   2018       C  010310000
2                     Oyonnax Biochaleur   2018       C  010310000
3                     Oyonnax Biochaleur   2018       C  010310000
4                     Oyonnax Biochaleur   2018       C  010310000
...                                  ...    ...     ...        ...
16859  Grand Ensemble Sarcelles-Locheres   2018       C  955850123
16860  Grand Ensemble Sarcelles-Locheres   2018       C  955850124
16861  Grand Ensemble Sarcelles-Locheres   2018       C  955850124
16862  Grand Ensemble Sarcelles-Locheres   2018       C  955850125
16863  Grand Ensemble Sarcelles-Locheres   2018       C  955850125

      CODE_GRAND_SECTEUR      CONSO PDL
0                      X          s   s
1                      X          s   s
2                      X          s   s
3                      X          s   s
4                      X          s   s
...                  ...        ...  ..
16859                  T   1772,933   2
16860                  R  10046,619   9
16861                  T   1772,933   2
16862                  R  19088,575  16
16863                  T   3368,572   3

[16864 rows x 7 columns]
16864
<class 'pandas.core.frame.DataFrame'>