In [9]:

from pandas import DataFrame 
import sqlite3

In [10]:
conn = sqlite3.connect('mydb.db')
c = conn.cursor()

In [14]:
c.execute('CREATE TABLE ANIMAL(DOB text,race text, sex text, refuge text)')
conn.commit()

In [24]:
animal = {'dob':['janvier','juin','mars'],
          'race':['dober','jack','caniche'],
          'sex':['f','m','f'],
          'refuge':['landes','bordeaux','royan']}

df = DataFrame(animal, columns = ['dob','race','sex','refuge'])

df.to_sql('ANIMAL', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM ANIMAL
          ''')

df = DataFrame(c.fetchall(), columns=['dob','race','sex','refuge'])    
print (df)

       dob     race sex    refuge
0  janvier    dober   f    landes
1     juin     jack   m  bordeaux
2     mars  caniche   f     royan

In [19]:
import sqlite3
from pandas import DataFrame

conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()

c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(Cars, columns= ['Brand', 'Price'])
df.to_sql('CARS', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM CARS
          ''')

for row in c.fetchall():
    print (row)

('Honda Civic', 22000)
('Toyota Corolla', 25000)
('Ford Focus', 27000)
('Audi A4', 35000)

In [20]:


conn = sqlite3.connect('TestDB2.db')
c = conn.cursor()

c.execute('CREATE TABLE CARS (Brand text, Price number)')
conn.commit()

Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = DataFrame(Cars, columns= ['Brand', 'Price'])
df.to_sql('CARS', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT Brand, max(price) FROM CARS
          ''')

df = DataFrame(c.fetchall(), columns=['Brand','Price'])    
print (df)

#c.execute('DROP TABLE CARS')

     Brand  Price
0  Audi A4  35000

In [38]:
import psycopg2
try:
    conn = psycopg2.connect(
          user = "sandrinevuachet",
          password = "postgres",
          host = "localhost",
          port = "5432",
          database = "spa2"
    )
    cur = conn.cursor()
    sql = '''CREATE TABLE animals(
        ID INT PRIMARY KEY NOT NULL,
        dob TEXT NOT NULL,
        race TEXT NOT NULL,
        sex TEXT NOT NULL, 
        refuge TEXT NOT NULL
      ); '''
    
    cur.execute(sql)
    conn.commit()
    print("Table créée avec succès dans PostgreSQL")
  
    #fermeture de la connexion à la base de données
    cur.close()
    conn.close()
    print("La connexion PostgreSQL est fermée")
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la création du table PostgreSQL", error)

Erreur lors de la création du table PostgreSQL relation "animals" already exists